* {
    padding: 0;
    margin: 0;
    
}
body {
    height: 100vh;
    display: flex;
    background: white;
}
.seq-game{
    
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    height: 870px;
    border: 4px solid black;
    margin: auto;
}
.seq-card{
    width: 10%;
    height: 9%; 
    border: 2px solid blue;   
    transform: scale(1);        
}
.seq-card:active {
    transform: scale(.97);
    transition: transform .001s;
}
.seq-img{
    border: 2px solid lime;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}
.seq-player{
    position: absolute;
    top: 1800px;
    left: 250px;
    bottom: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
    height: 100px;
    margin: auto;
    width: 290px;
    border: 2px solid lime;
}
.seq-player-card{
    border: 2px solid blue;
    width: 16.66%;
    height:100%;
    transform: scale(1);
    margin: auto;
}
.seq-player-card:active {
    transform: scale(.97);
    transition: transform .001s;
}
.seq-player-img{
    border: 2px solid yellow;
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
}
h1{
    position: absolute;
    top: 900px;
    left: 300px;
}
img {
    width: 40px;
    height: 80px;
}

.table1{
    width: 100%;
    height: 95%;
    border: 2px solid red;
    overflow-wrap: break-word;
}