<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://35.245.214.163/thegame</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="connection.username">game</property>
        <property name="connection.password">Chacha495.</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="edu.isa681.DOA.entity.Player"/>
        <mapping class="edu.isa681.DOA.entity.PlayerGameHistory"/>
    </session-factory>
</hibernate-configuration>