<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>The Game</display-name>
    <context-param>
        <param-name>game.clientID</param-name>
        <param-value>586653871339-beuk50e02u8mpvqfgh902ojtkukhgcnd.apps.googleusercontent.com</param-value>
    </context-param>
    <context-param>
        <param-name>game.clientSecret</param-name>
        <param-value>NZZe3tkG67G6imwF46fJUTql</param-value>
    </context-param>
    <context-param>
        <param-name>game.callback</param-name>
        <param-value>http://localhost:8080/seq/sq/oauth2callback</param-value>
    </context-param>
    <!--    <context-param>-->
    <!--        <param-name>game.callback</param-name>-->
    <!--        <param-value>https://sequencegame.appspot.com/oauth2callback</param-value>-->
    <!--    </context-param>-->
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>edu.isa681.web</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <filter>
        <filter-name>LandingFilter</filter-name>
        <filter-class>edu.isa681.web.landingpage.LandingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LandingFilter</filter-name>
        <url-pattern>/index</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/sq/*</url-pattern>
    </servlet-mapping>
</web-app>
